<!-- <div class="card">
    <div class="card-body">
        <h5>Users database</h5>
        <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab dolorem ratione quam error neque quae repellat tempore labore reprehenderit ex soluta excepturi consequatur nostrum a, similique suscipit. Ad, eligendi!</h5>
    </div>
</div>
<br>
<table class="table table-striped">
    <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ user.uuid.substr(0, 6) }}</td>
            <td><img [src]="user.imageUrl" height="45" width="45" style="border-radius: 50%;"></td>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.phone }}</td>
        </tr>
    </tbody>
</table> -->